<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <%- include("./partials/auth_header.ejs") %>
    <form action="/register" method="post">
        <label for="user">Enter your Username:</label>
        <input type="text" name="user" id="user">
        <label for="pass">Enter your Password:</label>
        <input type="password" name="pass" id="pass">
        <button type="submit">Register</button>
    </form>
</body>
</html>