html, body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
header{
    display: flex;
    padding: 1vw;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 2vw;
    background-color: blue;
}
nav {
    display: flex;
    justify-content: center;
    gap: 3vw;
}
nav a{
    font-size: 2vw;
    text-decoration: none;
    border-radius: 0.7vw;
    background-color: white;
    color: blue;
    padding: 0.3vw;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}
.puppy{
    text-decoration: none;
    border: 0.4vw solid blue;
    border-radius: 0.7vw;
    padding: 1vw;
}
.puppy div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.puppy div p{
    font-size: 1vw;
    margin: 0.4vw;
    color: black;
}
.puppy div h2{
    font-size: 1.3vw;
    margin: 0.4vw;
    color: black;
}
.puppy div img{
    height: auto;
    width: 15vw;
    align-self: center;
}
#puppySection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}
footer{
    background-color: blue;
    margin-top: 3vw;
    font-size: 1vw;
    text-align: center;
    color: white;
}
